/*Styling for Login and Jokes Pages*/

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for login button */
button {
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for login button */
button:hover {
    opacity: 0.8;
}

/* Add padding and background color to container */
.container {
    padding: 16px;
    background-color: lightblue;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}